<!DOCTYPE html>
<html lang="en" layout:decorate="~{common/masterlayout}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/css/car/car.css}" type="text/css"/>
	<title>The Golden Dome Market - SRM - Browsing List of Products</title>
</head>
<body>
<th:block layout:fragment="content">
<div class="col">
	<div style="background-color:#337ab7;height:50px;"></div>
	<div class="container-fluid">
		<div class="row col-lg-4 col-lg-offset-4" style="margin-top: 80px;background-color:#fff;padding:20px;border:solid 1px #ddd;">
			<!-- <img th:src="@{/images/login.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo" /> -->
			<form th:action="@{/reset/password}" method="POST" class="form-signin">
				<h3 class="form-signin-heading" >Reset Password</h3>
				<br />
				<input type="password" id="newPassword" name="newPassword" placeholder="Enter New Password" class="form-control" />
				<br />
				<input type="password" placeholder="Reenter New Password" id="confirmNewPassword" name="confirmNewPassword" class="form-control" /> <br />
				<p id="spanCheckPasswordMatch"></p>
				<button disabled="true" class="btn btn-lg btn-primary" id="btnSubmit" name="Submit" value="Reset Password" type="Submit" th:text="ResetPassword" style="margin-right:10px;"></button>

			</form>
		</div>
	</div>
</div>

</th:block>

<th:block layout:fragment="footer"></th:block>

</body>
</html>
