<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a style="padding-right: 2em;" class="navbar-brand" href="/">signup Page</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                <a class="nav-link" href="/status/list">CarStatus</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <span style="color:#fff;padding-left: 2em; padding-right: 1em;">Welcome, Guest</span>
            <!--<a style="color: #ffffff; margin-right: 0em;" class="nav-link" href="#">John Doe</a>-->
            <!--<input class="form-control mr-sm-2" type="text" placeholder="Search">-->
            <a href="#" class="btn btn-secondary">Sign In</a>
        </form>
    </div>
</nav>

<div class="container">


    <hr>

    <!-- Add a button -->
    <a th:href="@{/status/register}"
       class="btn btn-primary btn-sm mb-3">
        Add CarStatus
    </a>


    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>#Id</th>
            <th>Status</th>
            <th>Action </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempCarStatus,iterStat : ${carStatuses}" th:onclick="@{document.location='#'}">
            <th scope="row" th:text="${iterStat.count}+' '"></th>
            <td th:text="${tempCarStatus.status}" />

            <td>

                <a th:href="@{/status/update(statusId=${tempCarStatus.id})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>

                <a th:href="@{/status/delete(statusId=${tempCarStatus.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
                    Delete
                </a>

            </td>

        </tr>
        </tbody>
    </table>



<!--&lt;!&ndash; Pagination &ndash;&gt;
<div>
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link" href="#">Pages: </a>
        </li>

        &lt;!&ndash;/*@thymesVar id="currentpageNo" type=""*/&ndash;&gt;
        &lt;!&ndash;/*@thymesVar id="totalPages" type=""*/&ndash;&gt;
        &lt;!&ndash;/*@thymesVar id="totalPages" type=""*/&ndash;&gt;
        <li th:each="i : ${#numbers.sequence(1, emps.totalPages)}"

            th:class="${currentpageNo}==${i-1}?'page-item active':'page-item'">
            <a th:href="@{/eregistrar/student/list(pageno=${i-1})}"
               th:text="${i}" class="page-link"></a>

        </li>
    </ul>
</div>-->
</div>
</body>
</html>