<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/masterlayout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/car/car.css}" />
    <title>Car Rental - Add Car Status</title>
</head>
<body> <!--onload="document.querySelector('#carNumber').focus();"-->
<th:block layout:fragment="content">
<div class="container">


    <hr>

    <p class="h4 mb-4">Save CarStatus</p>

    <form action="#" th:action="@{/status/save}"
          th:object="${carStatuses}" method="POST">
        <input type="hidden" name="id" th:field="*{id}" />
        <input type="text" th:field="*{status}"
               class="form-control mb-4 col-4" placeholder="Status Of Car">




        <!--<select name="supplier" id="supplier" class="form-control" required="required">
            <option value="">Select a Gender</option>
            <option th:each="customers : ${customers}" th:value="${customers.id}" th:text="${customers.gender}"></option>
        </select>
-->


        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/status/list}">Back to CarStatus List</a>

</div>
</th:block>
<br/>
<br/>
<th:block layout:fragment="footer"/>

</body>

</html>